header{
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
  align-items: center;
  padding: 20px;
}
button{
  color: white;
  background-color: #007FFF;
  margin-right: 10px;
  padding: 7px 14px;
  border: none;
  border-radius: 7px;
}
#headerAlign{
  display: flex;
  align-items: center;
}
#wrapper{
  padding-left: 20px;
  display: flex;
}
#main{
  width: 80%;
  padding-right: 50px;
}
#sideInfo{
  width: 20%;
}